.sidebar-header{
   
    h3{
        border-bottom: solid 1px #ccc;
        padding-bottom: 10px;
        font-size: 21px;
    }
}
.toggle-sidebar{
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 10;
    color: white;
    font-size: 26px;
    cursor: pointer;
    &:hover{
        color: #ccc;
    }
}