.training-container{
    .modal-wrapper{
      height: 100%;
      width: 100%;
    }
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .training-program-course-modal{
        z-index: 102;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        margin: auto;
        background-color: white;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        max-height: 80vh;
        overflow: scroll;
        .course{
            padding: 20px;
            display: flex;
            align-items: center;
            &:nth-child(odd){
                background-color: #f5f5f5;
            }

            .index{
                width: 30px;
                height: 30px;
                margin-right: 20px;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                color: white;
                background-color: #1167aa;
            }
            .btn-remove{
                span{
                    font-size: 22px;
                    margin-left: 10px;
                    &:hover{
                        color: #E91E63;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                }
            }
            .fields{
                flex: 1;
                
                .field{
                    border: solid 1px #ccc;
                    border-radius: 4px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    label{
                        margin-right: 10px;
                        width: 130px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
            
        }
        .title{
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            position: relative;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: white;
            background-color: #1167aa;
            padding: 8px 0;
            .btn-close{
                position: absolute;
                top: 2px;
                right: 5px;
                font-size: 22px;
                font-weight: 600;
                &:hover{
                    color: #E91E63;
                    transition: all 0.2s;
                    cursor: pointer;
                }
            }
        }
    }
}