.container {
  min-height: 100vh;
}

.content-wrapper {
  background-color: #eaeff1;
}
.row {
  margin: 0px !important;
}
.main-content {
  padding: 20px 20px 10px 20px;
  margin: 0px;
}
.container-fluid {
  padding: 0px !important;
  min-height: 100vh;
}
.wrapper {
  min-height: 100vh;
}
.col {
  padding: 0px;
}
.container-fluid {
  overflow-x: hidden;
  overflow-y: hidden;
}
.heading {
  margin-bottom: 20px !important;
  margin-top: 15px !important;
  color: #4a4a4a;
}

.img {
  height: 130px;
  object-fit: scale-down;
}
.table {
  box-shadow: 3px 6px 18px 0px grey;
}
.btn-option {
  margin: 5px;
}
td {
  text-align: center;
  vertical-align: middle !important;
}
.right-btn {
  right: 0px;
  position: absolute;
  margin-right: 20px;
}
