.wrapper{
    color: #4e4e4ef2;
}
video{
    box-shadow: 3px 3px 12px 5px grey;
}
.video-show{
    text-align: center;
}
.video-show video{
    width: 100%;
}
.lesson{
    padding-top: 20px;
}
.lesson-name{
    padding-left: 10px;
}
.lesson-content{
    padding-left: 25px;
    padding-right: 25px;
}
.list-multiple-choice{
    /* padding-left: 20px;  */
}
.question{
    padding-left: 20px;
    padding-top: 10px;
}
.answer{
    padding-left: 40px;
    font-weight: bold;
}
.multiple-choice-option{
    padding-left: 40px;
}
.head-type-content{
    padding-top: 15px;
}
.fa-plus{
    color: #4e4e4ef2;
    cursor: pointer;
    margin-right: 8px;
}

.model-lesson-detail{
    z-index: 99;
    background-color: whitesmoke;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    margin-top: 25px;
    box-shadow: 2px 0px 10px 2px grey;
    padding: 20px 15px 25px 15px;
    border-radius: 4px;
    position: relative;
    height: 100%;
}
.lesson-content a{
    color:#4e4e4ef2!important;
}
.lesson-content a:hover{
    color:blue!important;
}