.training-program-container{
    .btn-add{
        text-align: right;
    }
    .list-training-program{
        table{
            width: 100%;
            border: solid 1px #ccc;
            text-align: center;
            td{
                border: solid 1px #ccc;
                padding: 10px;
                font-weight: 600;
            }
            th{
                padding: 10px;
                border: solid 1px #ccc;
                color: white;
                background-color: #1b87df;
            }
            .row-item{
              
               
              
                .item{
                    margin-bottom: 10px;
                    display: block !important;
                    background-color: #1b8be7;
                    border:solid 1px #1b87df;
                    font-size: 14px !important;
                    padding: 8px;
                    font-weight: 600;
                    display: inline-block;
                    color: white !important;
                    text-transform: uppercase;
                    &:hover{
                        cursor: pointer;
                        text-decoration: none;
                        transition: all 0.2s;
                        background-color: #1178cc;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        
    }
}