body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-success{
  background-color: #1b87df !important;
  border-color: #0069d9 !important;
}
.btn-danger{
  background-color: #b92e02 !important;
  border-color: #b92e02 !important;
}
.container-fluid{
  background: transparent !important;
}

.row-input{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: solid 1px #ccc;
  border-radius: 5px ;
  padding: 10px 17px;
  justify-content: flex-start;
}

