.block{
    margin: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    .title{
        font-size: 18px;
        margin-bottom: 15px;
        border-bottom: solid 2px #2196F3;
        padding-bottom: 5px;
        display: inline-block;
    }
  }

h3{
    font-size: 18px !important;
}

h5{
    font-size: 16px !important;
}

table{
    width: 100%;
    border: solid 1px #ccc;
    text-align: center;
    td{
        border: solid 1px #ccc;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 14px;
    }
    th{
        font-size: 14px;
        padding: 10px;
        border: solid 1px #ccc;
        color: white;
        background-color: #1b87df;
        text-transform: capitalize;
    }
    tr{
        &:nth-child(odd){
            background-color: #f5f5f5;
        }
    }
    
}