.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    .wrapper-modal{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,0.6);
        left: 0;
    }
    .modal-content{
        position: relative;
        z-index: 11;
        width: 80%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);

        .btn-close{
            position: absolute;
            right: 2px;
            top: -2px;
            font-size: 20px;
            color: rgb(214, 168, 83);
            cursor: pointer;
            &:hover{
                color: #043e6b;
            }
        }

        .title{
            text-align: center;
            background-color: #1167aa;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            padding: 10px;
            font-size: 14px;
        }

        .components{
            width: 90%;
            margin: auto;
            padding: 20px 0;
            button{
                margin-top: 10px;
            }
            label{
               width: 200px;
                font-weight: 600;
                margin-right: 10px;
                font-size: 15px;
                text-align: left;
            }
            
        }
    }
}
.hide-modal{
    
    width: 0;
    height: 0;
    overflow: hidden;
}
