.training-program-detail {
    background: #f5f5f5;
    .info{
        h5{
            font-size: 16px;
        }
    }
    .block{
        margin: 15px;
        background-color: white;
        padding: 10px;
        border-radius: 6px;
        .title{
            font-size: 18px;
            margin-bottom: 15px;
            border-bottom: solid 2px #2196F3;
            padding-bottom: 5px;
            display: inline-block;
        }
    }
    .courses-info{
        position: relative;
        .btn-add-course{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        table{
            width: 100%;
           
            tr{
                &:nth-child(even){
                    background-color: #eee;
                }
                th{
                    background-color: #2196F3;
                    padding: 5px 10px ;
                    border: solid 1px #ccc;
                    color: white;
                }
                td{
                    padding: 5px 10px ;
                    border: solid 1px #ccc;
                    text-align: left;
                   
                    .specialize{
                        font-size: 13px;
                   }
                }
            }
           
        }
    }
}