
.class-container{
    position: relative;
    h3{
        font-size: 16px;
    }
    table{
        td{
          .btn{
              margin: 0 5px;
          }

            a{
                color: #4e4e4ef2 !important;
                display: block;
                font-weight: 600;
                &:hover{
                    color: #111 !important;
                    transition: all 0.3s;
                    
                }
            }
            
        }
    }

    .btn-add{
       text-align: right;
    }

    .class-filter{
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;

        h3{
            align-self: flex-end;
            flex: 1;
            margin-bottom: 0;
        }
        .category-filter{
            display: flex;
            flex-direction: column;
            label{
                font-weight: bold;
                margin-bottom: 2px;
            }
            select{
                padding: 5px 0;
            }
        }
        
    }
}